# Dependencies
/node_modules
npm-debug.log

# Environment variables
#.env

# Build artifacts
/build

# OS-specific files
.DS_Store

# Logs
logs/
*.log

# Coverage directory used by tools like istanbul
coverage/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System Files
*.swp
Thumbs.db
.DS_Store
